[BERT]
#trainable_layers = encoder.layer.11.attention.self.query.weight,encoder.layer.11.attention.self.query.bias,encoder.layer.11.attention.self.key.weight,encoder.layer.11.attention.self.key.bias,encoder.layer.11.attention.self.value.weight,encoder.layer.11.attention.self.value.bias,encoder.layer.11.attention.output.dense.weight,encoder.layer.11.attention.output.dense.bias,encoder.layer.11.intermediate.dense.weight,encoder.layer.11.intermediate.dense.bias,encoder.layer.11.output.dense.weight,encoder.layer.11.output.dense.bias

[READER_POSTPROCESSOR]
max_sent_len = 350

[RSS_FEED]
#url = https://feed.informer.com/digests/PTDJAORFHT/feeder.rss
url = http://feed.informer.com/digests/IYOJ4XWFDM/feeder.rss
#url = https://news.google.com/rss/search?q=Fusarium%20head%20blight&hl=en-US&gl=US&ceid=US:en
#url = https://news.google.com/rss/search?q=%22fusarium%20head%20blight%22%20when%3A60d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Wheat%20rust&hl=en-US&gl=US&ceid=US:en
#url = https://news.google.com/rss/search?q=Wheat%20rust%20when%3a90d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Bactericera%20cockerelli%20cockerelli&hl=en-US&gl=US&ceid=US:en
#url = https://news.google.com/rss/search?q=Bactericera%20cockerelli%20when%3a90d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Fusarium%20TR4&hl=en-US&gl=US&ceid=US:en
#url = https://news.google.com/rss/search?q=Fusarium%20TR4%20when%3a90d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=%22fusarium%20head%20blight%22%20when%3A72d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Wheat%20rust%20when%3a72d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Wheat%20blast%20when%3a72d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=tomato%20psyllid%20when%3a72d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Fusarium%20TR4%20when%3a72d&hl=en-US&gl=US&ceid=US%3Aen
#url = https://news.google.com/rss/search?q=Fusarium%20WILT%20when%3a72d&hl=en-US&gl=US&ceid=US%3Aen



[OPENAI]
key = 
prompt = '''
You are now doing pest monitoring, you need to classify the given text into Qualitative losses, Yield losses, causing the death of affected plant. You need also extract the text mention of the cause (with start and end offset), the time,  location, pest name, and infected plants from the article with the offsets. The ouptut should orgnised in a json format. I will use json.loads to load your output. An example json is:

{
  "start_offset":80,
  "end_offset":217,
  "Disease":disease_name,
  "Host":host_name,
  "Pest":pest_name,
  "Impacted_area":{
      "Country":country_iso3,
      "Sub-region":None,
      "City":None,
      },
  "Type_of_impact":Qualitative losses,
  "Duration":{
      "start":None,
      "end":None,
      },
  "Origin_country":country_iso3,
  "Orign_Sentence":text
  }

Here are the examples for each category

causing the death of affected plant: reporting the confirmed
detection of A. planipennis in most of the Indiana counties (US). Moreover,
other articles report the findings in a rural area in Marshall county, Iowa,
and three more Vermont towns. The state of Wisconsin is reported to have
imposed state-wide quarantine.

Yield losses: reports the identification in the United States of a second wasp
parasitoid, Ooencyrtus nezarae (Hymenoptera, Encyrtidae), for the kudzu
bug. O. nezarae was thought to be limited to Asia and Brazil and this is the
first report in North America. It parasitizes eggs at a high parasitism rate and
could serve as a long-term solution for managing the kudzu bug.

Qualitative losses: Paecilomyces rot, a new apple disease, has been identified in New
York state, US. It is a fungal disease caused by Paecilomyces niveus,
very much resembling other apples’ diseases. The fungus’ ascospores
that seem to be resistant to heat treatment (e.g. pasteurization), seem
to live in the seeds, soils of orchards and attack the fruits through
wounds. The consequence of its infection is the spoilage of apple
products and the production of the mycotoxin patulin.

Qualitative losses and Yield losses: One article from an Indian media reports the finding of the root-knot
nematode, Meloidogyne ethiopica, on citrus plant in Tamil Nadu. The
discovery has been made by Tamil Nadu Agricultural University. It is the first
time the root-knot nematode is identified in India, and on citrus plants.

please just return json without any other messages inlcuding justification, if there is not enough information just return null in the corrsponding json field 
'''
